<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title">Main</li>
        <li>
          <a
                href="<%- routes.doctor_dashboard %>"
                class="<%= active_path==routes.doctor_dashboard ? 'active' : '' %>"
            ><span
              ><img src="assets/img/icons/menu-icon-01.svg" alt=""
            /></span>
            <span> Dashboard </span>
           </a>

        </li>
        <li class="submenu">
          <a href="#"
            ><span class="menu-side"
              ><img src="assets/img/icons/menu-icon-02.svg" alt=""
            /></span>
            <span> Clients </span> <span class="menu-arrow"></span
          ></a>
          <ul style="display: none">
            <li>
              <a
                href="<%- routes.doctors %>"
                class="<%= active_path==routes.doctors ? 'active' : '' %>"
                >Client List</a
              >
            </li>
            <li>
              <a
                href="<%- routes.add_doctor %>"
                class="<%= active_path==routes.add_doctor ? 'active' : '' %>"
                >Add Client</a
              >
            </li>
            <li>
              <a
                href="<%- routes.edit_doctor %>"
                class="<%= active_path==routes.edit_doctor ? 'active' : '' %>"
                >Edit Client</a
              >
            </li>
            <li>
              <a
                href="<%- routes.doctor_profile %>"
                class="<%= (active_path==routes.doctor_profile || active_path==routes.doctor_setting) ? 'active' : '' %>"
                >Client Profile</a
              >
            </li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"
            ><span class="menu-side"
              ><img src="assets/img/icons/menu-icon-05.svg" alt=""
            /></span>
            <span> Tasks </span> <span class="menu-arrow"></span
          ></a>
          <ul style="display: none">
            <li>
              <a
                href="<%- routes.schedule %>"
                class="<%= active_path==routes.schedule ? 'active' : '' %>"
                >Tasks List</a
              >
            </li>
            <li>
              <a
                href="<%- routes.add_schedule %>"
                class="<%= active_path==routes.add_schedule ? 'active' : '' %>"
                >Add Task</a
              >
            </li>
            <li>
              <a
                href="<%- routes.edit_schedule %>"
                class="<%= active_path==routes.edit_schedule ? 'active' : '' %>"
                >Edit Task</a
              >
            </li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"
            ><i class="fa fa-flag"></i> <span> Reports </span>
            <span class="menu-arrow"></span
          ></a>
          <ul style="display: none">
            <li>
              <a
                href="<%- routes.expense_reports %>"
                class="<%= active_path==routes.expense_reports ? 'active' : '' %>"
              >
                Expense Report
              </a>
            </li>
            <li>
              <a
                href="<%- routes.invoice_reports %>"
                class="<%= active_path==routes.invoice_reports ? 'active' : '' %>"
              >
                Invoice Report
              </a>
            </li>
          </ul>
        </li>




        <li class="submenu">
          <a href="#"
            ><span class="menu-side"
              ><img src="assets/img/icons/menu-icon-15.svg" alt=""
            /></span>
            <span> Invoice </span> <span class="menu-arrow"></span
          ></a>
          <ul style="display: none">
            <li>
              <a
                href="<%- routes.invoices_list %>"
                class="<%= ( active_path==routes.invoices_list || active_path==routes.invoices_paid || active_path==routes.invoices_overdue || active_path==routes.invoices_draft || active_path==routes.invoices_recurring || active_path==routes.invoices_cancelled) ? 'active' : '' %>"
              >
                Invoices List
              </a>
            </li>
            <li>
              <a
                href="<%- routes.invoices_grid %>"
                class="<%= active_path==routes.invoices_grid ? 'active' : '' %>"
              >
                Invoices Grid</a
              >
            </li>
            <li>
              <a
                href="<%- routes.add_invoice %>"
                class="<%= active_path==routes.add_invoice ? 'active' : '' %>"
              >
                Add Invoices</a
              >
            </li>
            <li>
              <a
                href="<%- routes.edit_invoices %>"
                class="<%= active_path==routes.edit_invoices ? 'active' : '' %>"
              >
                Edit Invoices</a
              >
            </li>
            <li>
              <a
                href="<%- routes.view_invoice %>"
                class="<%= active_path==routes.view_invoice ? 'active' : '' %>"
              >
                Invoices Details</a
              >
            </li>
            <li>
              <a
                href="<%- routes.invoices_settings %>"
                class="<%= ( active_path==routes.invoices_settings || active_path==routes.tax_settings || active_path==routes.bank_settings ) ? 'active' : '' %>"
              >
                Invoices Settings</a
              >
            </li>
          </ul>
        </li>

  <li class="submenu">
          <a href="#"
            ><span class="menu-side"
              ><img src="assets/img/icons/menu-icon-07.svg" alt=""
            /></span>
            <span> Accounts </span> <span class="menu-arrow"></span
          ></a>
          <ul style="display: none">
            <li>
              <a
                href="<%- routes.invoices %>"
                class="<%= ( active_path==routes.invoices || active_path==routes.create_invoice || active_path==routes.edit_invoice || active_path==routes.invoices_view ) ? 'active' : '' %>"
                >Invoices</a
              >
            </li>
            <li>
              <a
                href="<%- routes.payments %>"
                class="<%= ( active_path==routes.payments || active_path==routes.add_payment || active_path==routes.edit_payment ) ? 'active' : '' %>"
                >Payments</a
              >
            </li>
            <li>
              <a
                href="<%- routes.expenses %>"
                class="<%= ( active_path==routes.expenses || active_path==routes.add_expense || active_path==routes.edit_expense ) ? 'active' : '' %>"
                >Expenses</a
              >
            </li>
            <li>
              <a
                href="<%- routes.taxes %>"
                class="<%= ( active_path==routes.taxes || active_path==routes.add_tax || active_path==routes.edit_tax ) ? 'active' : '' %>"
                >Taxes</a
              >
            </li>
            <li>
              <a
                href="<%- routes.provident_fund %>"
                class="<%= ( active_path==routes.provident_fund || active_path==routes.add_provident_fund || active_path==routes.edit_provident_fund ) ? 'active' : '' %>"
                >Provident Fund</a
              >
            </li>
          </ul>
        </li>




      <li class="submenu">
          <a href="#"
            ><span class="menu-side"
              ><img src="assets/img/icons/menu-icon-08.svg" alt=""
            /></span>
            <span> Staff </span> <span class="menu-arrow"></span
          ></a>
          <ul style="display: none">
            <li>
              <a
                href="<%- routes.staff_list %>"
                class="<%= active_path==routes.staff_list ? 'active' : '' %>"
                >Staff List</a
              >
            </li>
            <li>
              <a
                href="<%- routes.add_staff %>"
                class="<%= ( active_path==routes.add_staff || active_path==routes.edit_staff ) ? 'active' : '' %>"
                >Add Staff</a
              >
            </li>
            <li>
              <a
                href="<%- routes.staff_profile %>"
                class="<%= ( active_path==routes.staff_profile || active_path==routes.staff_setting ) ? 'active' : '' %>"
                >Staff Profile</a
              >
            </li>
            <li>
              <a
                href="<%- routes.staff_leave %>"
                class="<%= ( active_path==routes.staff_leave || active_path==routes.add_leave || active_path==routes.edit_leave ) ? 'active' : '' %>"
                >Leaves</a
              >
            </li>
            <li>
              <a
                href="<%- routes.staff_holidays %>"
                class="<%= active_path==routes.staff_holidays ? 'active' : '' %>"
                >Holidays</a
              >
            </li>
            <li>
              <a
                href="<%- routes.staff_attendance %>"
                class="<%= active_path==routes.staff_attendance ? 'active' : '' %>"
                >Attendance</a
              >
            </li>
          </ul>
        </li>


         <li>
          <a
            href="<%- routes.calendar %>"
            class="<%= active_path==routes.calendar  ? 'active' : '' %>"
            ><span class="menu-side"
              ><img src="assets/img/icons/menu-icon-16.svg" alt=""
            /></span>
            <span>Calendar</span></a
          >
        </li>


        <li>
          <a
            href="<%- routes.settings %>"
            class="<%= active_path==routes.settings || active_path==routes.localization_details || active_path==routes.payment_settings || active_path==routes.email_settings || active_path==routes.social_settings || active_path==routes.social_links || active_path==routes.seo_settings || active_path==routes.theme_settings || active_path==routes.change_password || active_path==routes.others_settings ? 'active' : '' %>"
            ><span class="menu-side"
              ><img src="assets/img/icons/menu-icon-16.svg" alt=""
            /></span>
            <span>Settings</span></a
          >
        </li>

      </ul>
      <div class="logout-btn">
        <a
          href="<%- routes.login %>"
          class="<%= active_path==routes.login ? 'active' : '' %>"
          ><span class="menu-side"
            ><img src="assets/img/icons/logout.svg" alt=""
          /></span>
          <span>Logout</span></a
        >
      </div>
    </div>
  </div>
</div>
